.product-cards-container {
  padding: 8px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.product-card {
  height: 400px;
  width: 300px;
  border: 1px solid $saffron;
  border-radius: 2px;
  color: $saffron;
  margin: 16px;
  .product-info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .product-card-image {
    height: 200px;
    width: 100%;
    background-position: center;
    background-size: cover;
  }
  .product-card-text {
    padding: 16px;
  }
  .product-card-details {
    padding: 16px;
    display: flex;
    justify-content: space-between;
  }
}
